{% extends 'admin/change_list.html' %}
{% load i18n %}
{%  block date_hierarchy %}
{{ block.super }}

<div class="col m12">
    <span class="card-title">{% trans 'Impersonating' %}</span>
        <div class="section">
        {% if request.user.impersonate_user %}
            {% trans 'You are impersonating as ' %}
        <a href="{% url 'admin:accounts_user_change' request.user.impersonate_user.id %}">
            {{request.user.impersonate_user}}
        </a>
        {% else %}
            {% trans 'You are not impostor at the moment' %}
        {% endif %}
        </div>
        <div class="center">
            {% if request.user.impersonate_user %}
                <a href="{% url 'impersonate-stop' %}" class="btn  cyan darken-3">
                    <i class="material-icons left">stop</i>{% trans 'Stop impersonating' %}
                </a>
            {% endif %}
        </div>
</div>
{% endblock %}}